<h1 id="changelog">変更履歴</h1>
- 2023-04-17
  - [アクセスキー（カギ）の通知について、推奨の通知方法](#notify-access-keys)を記載しました。
  - bookingエンドポイントのアトリビュート名に変更がありました。応答の"url"は"url_credential"に変更されました。
- 2023-03-01
  - 認証フロー「クライアント認証 Client Credentials Grant」に対応しました。
  - デバイスのアトリビュートにRemoteLOCK 8j/8j-F/8j-Qの識別情報 smd(サブモデル)が追加されました。
  - 予約IDの書式変更。ID書式半角英数+ハイフンに修正。(同一予約の分割は-以降で枝番を採番ください。
  - 予約変更時、デバイス機種をまたぐ変更ロジックに修正が加わりました。
  - エンドポイントにデバイスの対応[アクセスキータイプを取得](#access-key-types-get)が追加されました。
  - エラー挙動時のステータスコード及びエラーメッセージを改善しました。
- 2022-10-18
  - デフォルト値の変更。start_margin_secおよびend_margin_secの初期値が300秒から0秒に変更
- 2022-09-22
  - 認可コード取得の認証画面にてエラーとなる不具合を修正
  - アクセスキーにQRコードが設定された場合も、RemoteLOCKクラウド管理システムの方に反映されない不具合を修正
  - アクセスキーにFeliCaカードのIDmが指定された場合も、カード番号が正しく保存されない不具合を修正
  - 予約に[チェックアウト](#bookings-checkout)日時を登録することで、当該予約のアクセスキーが無効化されるように変更
  - [予約一覧の取得](#bookings-get-bookings)のページネーションで、pageのみ指定した場合にエラーとなる不具合を修正
  - [アクセスキー表示画面](#notify-access-keys-ui)でQRコードがない場合に正しく情報が表示ができない不具合を修正
