<h1 id="changelog">変更履歴</h1>
- 2022-10-18
  - デフォルト値の変更。start_margin_secおよびend_margin_secの初期値が300秒から0秒に変更
- 2022-09-22
  - 認可コード取得の認証画面にてエラーとなる不具合を修正
  - アクセスキーにQRコードが設定された場合も、RemoteLOCKクラウド管理システムの方に反映されない不具合を修正
  - アクセスキーにFeliCaカードのIDmが指定された場合も、カード番号が正しく保存されない不具合を修正
  - 予約に[チェックアウト](#bookings-checkout)日時を登録することで、当該予約のアクセスキーが無効化されるように変更
  - [予約一覧の取得](#bookings-get-bookings)のページネーションで、pageのみ指定した場合にエラーとなる不具合を修正
  - [アクセスキー表示画面](#notify-access-keys-ui)でQRコードがない場合に正しく情報が表示ができない不具合を修正
