<h1 id="endpoints">エンドポイント一覧</h1>

- [予約](#endpoints-bookings)
- [QRコード画像](#endpoints-qrcodes)
- [アクセスパーソン](#endpoints-access_persons)
- [iglooゲスト](#endpoints-igloo_guests)
- [デバイス](#endpoints-devices)
- [アクセスキータイプ](#endpoints-access-key-types)
- [ドアグループ](#endpoints-groups)
- [設置場所](#endpoints-locations)
- [デバイスモデル](#endpoints-models)
- [イベント](#endpoints-events)
- [通知先](#endpoints-notification_subscribers)
- [お知らせ設定](#endpoints-notification_subscriptions)
- [お知らせ履歴（通知済み）](#endpoints-notifications)
- [スケジュール](#endpoints-schedules)
- [アクセス不可日](#endpoints-access_exceptions)
- [アカウント情報](#endpoints-accounts)
- [ユーザー情報](#endpoints-users)


**<p id="endpoints-bookings">予約</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET   |[/bookings](#bookings-get-bookings) |  
|    取得   |   GET   |[/bookings/:id](#bookings-get-a-booking) |  
|    作成   |   POST  |[/bookings/:id](#bookings-create-a-booking) |  
|    変更   |   PUT   |[/bookings/:id](#bookings-update-a-booking) |  
|チェックイン|   PUT   |[/bookings/:id](#bookings-checkin) |  
|チェックアウト| PUT   |[/bookings/:id](#bookings-checkout) |  
| キャンセル |   PUT   |[/bookings/:id/deactivate](#bookings-deactivate-a-booking) |  
|削除（非推奨）| DELETE |[/bookings/:id](#bookings-delete-a-booking) |  


**<p id="endpoints-qrcodes">QRコード画像</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   作成    |   POST  |[/util/qrcodes](#qrcodes-create-a-qrcode) |  


**<p id="endpoints-access_persons">アクセスパーソン</p>**

アクセスパーソンとは、アクセスユーザーとアクセスゲストの総称です。

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET   |[/access_persons](members-access#get-access-persons) |  
|    取得   |   GET   |[/access_persons/:id](members-access#get-an-access-person) |  
|ユーザー作成 |  POST  |[/access_persons](members-access#create-an-access-user) |  
| ゲスト作成 |   POST  |[/access_persons](members-access#create-an-access-guest) |  
|ユーザー更新 |   PUT  |[/access_persons](members-access#update-an-access-user) |  
| ゲスト更新 |   PUT  |[/access_persons](members-access#update-an-access-guest) |  
|  無効化    |  PUT  |[/access_persons/:id/deactivate](members-access#deactivates-an-access-person) |  
|削除（非推奨）| DELETE |[/access_persons/:id](members-access#delete-an-access-person) |  
|メール送信  |  POST  |[/access_persons/:id/email/notify](#notify-access-keys-email) |  
|ドアアクセス全取得| GET|[/access_persons/:access_person_id/accesses](members-access#get-all-of-an-access-person-39-s-accesses) |  
|ドアアクセス取得| GET|[/access_persons/:access_person_id/accesses/:id](members-access#get-an-access-person-39-s-access) |  
|ドアアクセス作成| POST|[/access_persons/:access_person_id/accesses](members-access#grant-an-access-person-access) |  
|ドアアクセス更新| PUT|[/access_persons/:access_person_id/accesses/:id](members-access#update-an-access-person-39-s-access) |  
|ドアアクセス削除| DELETE|[/access_persons/:access_person_id/accesses/:id](members-access#revoke-an-access-person-39-s-access) |  


**<p id="endpoints-igloo_guests">iglooゲスト</p>**

igloohomeのデバイスでのみご利用いただけるゲスト情報です。

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|    作成   |  POST    |[/igloo_guests](members-access#create-an-igloo-guest) |
|    更新   |   PUT    |[/igloo_guests/:id](members-access#update-an-igloo-guest) |
|    削除   |  DELETE  |[/igloo_guests/:id](members-access#discard-an-igloo-guest) |
|   全取得  |   GET    |[/igloo_guests](members-access#get-all-igloo-lock-guests) |
|    取得   |   GET    |[/igloo_guests/:id](members-access#get-an-igloo-guest) |

**<p id="endpoints-devices">デバイス</p>**


|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET    |[/devices](#devices-get-devices) |
|   取得    |   GET    |[/devices/:id](#devices-get-a-device) |
|   施錠    |   PUT   |[/devices/:id/lock](members-access#lock-a-lock) |
|   解錠    |   PUT   |[/devices/:id/unlock](members-access#unlock-a-lock) |
| 一時解錠   |   PUT   |[/devices/:id/temporary_unlock](members-access#temporarily-unlock-a-device) |
|アクセス取得 | GET    |[/devices/:id/access_person_accesses](members-access#access-person-accesses-of-a-lock) |
|   更新    |   PUT   |[/devices/:id](members-access#update-a-lock) |
|   登録    |   POST   |[/devices](members-access#register-an-openedge-rg-bg-cg-formerly-5i-3i-7i-lock) |
|   置換    |   PUT   |[/devices/:id/replace](members-access#replace-the-device) |
|   削除    |  DELETE |[/devices/:id](members-access#deregister-a-device) |


**<p id="endpoints-access-key-types">アクセスキータイプ</p>**

デバイスが対応している認証方法（アクセスキー）のタイプを取得します。

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   取得  |   GET    |[/access_key_types/devices/:id](#access-key-types-get) |

**<p id="endpoints-groups">ドアグループ</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET    |[/groups](members-access#get-all-groups) |
|    取得   |   GET    |[/groups/:id](members-access#get-a-group) |
|    作成   |   POST    |[/groups](members-access#create-a-door-group) |
|    更新   |   PUT    |[/groups/:id](members-access#update-a-group) |
|    削除   |  DELETE   |[/groups/:id](members-access#delete-a-group) |
|グループ内全ドア取得| GET |[/groups/:group_id/items](members-access#get-all-items-in-a-door-group) |
|グループ内のドア取得| GET |[/groups/:group_id/items/:id](members-access#get-an-item-in-a-door-group) |
|グループにドア追加| POST |[/groups/:group_id/items](members-access#add-an-item-to-a-door-group) |
|グループからドア削除|DELETE|[/groups/:group_id/items/:id](members-access#remove-an-item-from-a-door-group) |


**<p id="endpoints-locations">設置場所</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET    |[/locations](members-access#get-all-locations) |
|    取得   |   GET    |[/locations/:id](members-access#get-a-location) |
|    作成   |  POST    |[/locations](members-access#create-a-location) |
|    更新   |   PUT    |[/locations/:id](members-access#update-a-location) |
|    削除   |  DELETE  |[/locations/:id](members-access#delete-a-location) |


**<p id="endpoints-models">デバイスモデル</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET    |[/models](members-access#get-all-models) |
|    取得   |   GET    |[/models/:id](members-access#get-a-model) |


**<p id="endpoints-events">イベント</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET    |[/events](members-access#get-all-events) |
|    取得   |   GET    |[/events/:id](members-access#get-an-event) |


**<p id="endpoints-notification_subscribers">通知先</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET    |[/notification_subscribers](members-access#get-all-notification-subscribers) |
|    取得   |   GET    |[/notification_subscribers/:id](members-access#get-a-notification-subscriber) |
|作成（メール）|  POST   |[/notification_subscribers](members-access#create-an-email-notification-subscriber) |
|作成（Webhook）| POST  |[/notification_subscribers](members-access#create-a-webhook-notification-subscriber) |
|    更新   |   PUT    |[/notification_subscribers/:id](members-access#update-a-notification-subscriber) |
|    削除   |  DELETE  |[/notification_subscribers/:id](members-access#delete-a-notification-subscriber) |


**<p id="endpoints-notification_subscriptions">お知らせ設定</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET    |[/notification_subscriptions](members-access#get-all-notification-subscriptions) |
|    取得   |   GET    |[/notification_subscriptions/:id](members-access#get-a-notification-subscription) |
|    作成   |  POST   |[/notification_subscriptions](members-access#create-a-notification-subscription) |
|    更新   |   PUT    |[/notification_subscriptions/:id](members-access#update-a-notification-subscription) |
|    削除   |  DELETE  |[/notification_subscriptions/:id](members-access#delete-a-notification-subscription) |


**<p id="endpoints-notifications">お知らせ履歴（通知済み）</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET    |[/notifications](members-access#get-all-notifications) |


**<p id="endpoints-schedules">スケジュール</p>**

アクセススケジュールとデバイススケジュールのどちらも含みます。

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET    |[/schedules](members-access#get-all-schedule-types-homogeneous) |
|    取得   |   GET    |[/schedules/:id](members-access#get-a-schedule) |
|作成（アクセススケジュール）|POST|[/schedules](members-access#create-an-access-schedule) |
|作成（オートロックスケジュール）|POST|[/schedules](members-access#create-an-auto-lock-schedule) |
|作成（カギの開閉スケジュール）|POST|[/schedules](members-access#create-a-lock-action-schedule) |
|    更新   |   PUT    |[/schedules/:id](members-access#update-a-schedule) |
|    削除   |  DELETE  |[/schedules/:id](members-access#delete-a-schedule) |


**<p id="endpoints-access_exceptions">アクセス不可日</p>**

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   全取得  |   GET   |[/access_exceptions](members-access#get-all-access-exceptions) |  
|    取得   |   GET   |[/access_exceptions/:id](members-access#get-an-access-exception) |  
|    作成   |   POST  |[/access_exceptions](members-access#create-an-access-exception) |  
|    更新   |   PUT   |[/access_exceptions/:id](members-access#update-an-access-exception) |  
|    削除   |  DELETE |[/access_exceptions/:id](members-access#delete-an-access-exception) |  


**<p id="endpoints-accounts">アカウント情報</p>**

現在ログインしているアカウント情報です。

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|   取得    |   GET   |[/account](#get-current-account) |
|   更新    |   PUT   |[/account](#update-current-account) |


**<p id="endpoints-users">ユーザー情報</p>**

現在ログインしているユーザー情報です。

|   操作    | メソッド | エンドポイント        |   
| -------- | ------- | ------------------- |  
|    取得   |   GET    |[/user](#get-signed-in-user) |
