<h1 id="summary">Note</h1>


Check the basic information like Authentication , base URL and rate limits in a previous page.  
Here we describe the remaining endpoints that we were unable to introduce previously.  

At each endpoint, you can make requests more detailed and in line with device characteristics.  
On the other hand, the use of this API requires an understanding of device characteristics.  

For member access control in an office or workspace, you can use a combination of access users and door access.  
For more powerful operations, access scheduling and door groups can be used.  

To get the history, use webhook to know when events occur in real time and get the details from the event endpoints.  
Register your server as a subscriber and subscribe to events that required notification for you.  

  
   
APIの認証手順やURLの情報、レートリミット等の基本情報は前ページを参照してください。  

各エンドポイントでは、あなたはより細かくデバイスの特性に沿ったリクエストができます。  
他方で、このAPIの利用にはデバイス特性を理解していることが必要です。  

オフィスやワークスペースでのメンバーの入室管理では、アクセスユーザーとドアアクセスの組み合わせで実現します。  
よりパワフルな運用には、アクセススケジュールとドアグループを利用することができます。  


履歴の取得は、webhookを使って、リアルタイムにイベント発生を把握し、詳細をイベントのエンドポイントから取得します。  
あなたのサーバーをサブスクライバーとして登録し、通知が必要なイベントをサブスクションとして登録してください。  