---

title: RemoteLOCKプラットフォームAPI

language_tabs:
   - json


toc_footers:
   - <a href='https://remotelock.kke.co.jp/confi/remotelock-apidoc/'>API仕様書 > P1 　予約API</a>
   - <a href='https://remotelock.kke.co.jp/confi/remotelock-apidoc/members-access'>API仕様書 > P2 　アクセスユーザー</a>
   - <a href='https://remotelock.kke.co.jp/confi/api-articles/switch-endpoints'>記事 > 新しいデバイスへの対応案内</a>
   - -------
   - <a href='https://remotelock.kke.co.jp'>製品サイト</a>
   - <a href='https://remotelocksupport.kke.co.jp/'>製品ユーザー向けヘルプサイト</a>


includes:
   - _article-swiching-server.md.erb
search: true


---




<!-- Converted with the swagger-to-slate https://github.com/lavkumarv/swagger-to-slate -->
