---

title: RemoteLOCKプラットフォームAPI

language_tabs:
   - json

toc_footers:
   - <a href='./'>API仕様書 > P1 　予約API</a>
   - <a href='./members-access'>API仕様書 > P2 　アクセスユーザー</a>
   - -------
   - <a href='https://remotelock.kke.co.jp'>製品サイト</a>
   - <a href='https://remotelocksupport.kke.co.jp/'>製品ユーザー向けヘルプサイト</a>

includes:
   - _summary.md.erb
   - _changelog.md.erb
   - _endpoint-list.md.erb
   - _bookings.md.erb
   - _bookings-change.md.erb   
   - _devices.md.erb
   - _send-email.md.erb
   - _qrcodes.md.erb
   - _authentication.md.erb
   - _rate-limiting.md.erb
   - _sorting.md.erb
   - _filtering.md.erb
   - _http-status-codes.md.erb
search: true


---




<!-- Converted with the swagger-to-slate https://github.com/lavkumarv/swagger-to-slate -->
