---



title: RemoteLOCKプラットフォームAPI


language_tabs:
   - json

toc_footers:
   - <a href='./'>API仕様書 > P1 　予約API</a>
   - <a href='./members-access.html'>API仕様書 > P2 　アクセスユーザー</a>
   - -------
   - <a href='https://remotelock.kke.co.jp'>製品サイト</a>
   - <a href='https://remotelocksupport.kke.co.jp/'>製品ユーザー向けヘルプサイト</a>

includes:
   - _note-p2.md.erb
   - _endpoints.md.erb
   - _models.md.erb
   - _registered-devices.md.erb
   - _groups.md.erb
   - _unlock.md.erb
   - _device-settings.md.erb
   - _events.md.erb
search: true

---

<% @p1 = 'https://remotelock.kke.co.jp/confi/remotelock-apidoc' %>

<!-- Converted with the swagger-to-slate https://github.com/lavkumarv/swagger-to-slate -->
